<%= partial 'member_documents/flash', :locals => { :flash => flash } %>


<h1>Upload Member Document</h1>
<form method="post" action="/member_documents" enctype="multipart/form-data">
    <div>
      <input type="file" name="file">
      <input type="submit" value="Upload" name="submit">
    </div>
</form>